# Build outputs & dependencies
**/target/
**/dist/
**/node_modules/
**/.mvn/
**/.next/
**/.metadata/

# Binary / Executables
backend/mvnw
backend/mvnw.cmd
*.png
*.svg
*.docx
*.pptx
*.xlsx
*.pdf

# Package locks (handled by npm)
package-lock.json
